@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.filters {
  display: flex;
  gap: 16px;
  padding-bottom: 24px;
}

.selectWrapper {
  position: relative;
}

.select , .selectPage {
  width: 136px;
  height: 40px;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  padding: 10px 36px 10px 12px;
}


.select {
  @include on-tablet {
     width: 187px;
  }
}

.arrow {
  position: absolute;
  top: 50%;
  right: 12px;

  transform: translateY(-50%);
  pointer-events: none;
}

.filterName {
  font-weight: 700;
  font-size: 12px;
  color: $secondary-color;
  margin-block: 0 4px;
}
