@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.models {
  padding-inline: 16px 0;
  margin-block: 56px;

  @include on-tablet {
    margin-block: 64px;
    padding: 0 0 0 24px;
  }

  @include on-desktop {
    padding: 0 32px;
  }

  @include on-design {
    padding: 0 152px;
  }
}
